body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: white;
    background-color: #121212;
}

h3 {
    transform: scaleY(1.4);
}

input {
    background-color: #121212;
    border: none;
    margin-left: 8px;
    outline: none;
    color: white;
    height: 28px;
    flex: 1;
    width: 32px;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grid {
    display: grid;
    padding-top: 16px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.navbar {
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.sideMenu {
    width: 320px;
    height: 100vh;
    align-items: start;
}

.searchBar {
    margin: 8px;
    border-radius: 20px;
    border: 1px gray solid;
    flex: 1;
}

.centerNav {
    margin: auto;
    flex: 1;
    max-width: 500px;
}

.logo {
    width: 40px;
    padding-left: 8px;
    padding-right: 4px;
}

.signin{
    border: 1px solid gray;
    border-radius: 20px;
    margin: 24px;
    width: 112px;
    height: 40px;
}

.signin>*{
    margin: 0px;
    font-size: 12px;
    padding: 8px;
}

.subSection {
    border-bottom: 1px solid #222222;
    padding: 8px 0px 8px 16px;
    width: 100%;
}

.subSection p {
    padding-left: 16px;
}

.filterRow {
    border-bottom: 1px solid #222222;
    padding-bottom: 16px;
}

.filterRow>* {
    padding: 8px 12px 8px 12px;
    background-color: #222222;
    border-radius: 12px;
    margin: 4px;
}

.filterSelected {
    background-color: white;
    color: #121212;
}

.container {
    padding: 32px;
    width: 100vw;
    height: 100vh;
}

.thumbnail {
    width: 240px;
    margin: 8px;
}

.thumbnail p {
    font-weight: 300;
    font-size: 12px;
    margin: 2px;
    margin-left: 0px;
}

.thumbnail h4 {
    margin: 8px;
    margin-left: 0px;
    font-size: 16px;
}

.thumbnailImage {
    width: 220px;
    height: 140px;
}

.thumbnailProfile {
    width: 40px;
    padding: 0px 12px 12px 0px
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24,
    'wdth' 200;
    color: gray;
    font-size: 32px;
    margin: 0px;
}

.circleButtonIcon {
    background-color: #222222;
    border-radius: 50%;
    padding: 4px;
}

.circleButton {
    background: none;
    border: none;
    padding: 0px;
}

.semiSquareButton {
    border-radius: 0 20px 20px 0;
    padding-left: 16px;
    padding-right: 12px;
}

.hamburger {
    padding: 16px;
}